[submodule "plugins/dsh-web-search-tavily"]
	path = plugins/dsh-web-search-tavily
	url = git@github.com:lilitoweiwei/dsh-web-search-tavily.git
[submodule "plugins/dsh-web-pwa"]
	path = plugins/dsh-web-pwa
	url = git@github.com:lilitoweiwei/dsh-web-pwa.git
